<a href="https://colab.research.google.com/github/Olgerd96/NeuralUniversity/blob/main/19.2_Pandas_1_%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_Light_%D0%A3%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82_%D0%98%D1%81%D0%BA%D1%83%D1%81%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE_%D0%98%D0%BD%D1%82%D0%B5%D0%BB%D0%BB%D0%B5%D0%BA%D1%82%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas часть 1. Домашнее Задание. Light

*2 балла за каждую задачу*

*1 бонусный балл, если все задачи покрыты комментариями, которые описывают тактику решение задачи (до 10 баллов)*

### Задача 1
*(2 балла)*

Загрузите базу температур любым удобным способом. Выведите базу. Посчитайте число пустых записей в столбце State.

Ссылка на скачивание базы: https://drive.google.com/file/d/1bLiz_81Kb4pMryEalRe66jS38_F6vwMX/view?usp=sharing

**Решение:**

In [14]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')

df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Neural/city_temperature.csv")
print("\nЗагрузили данные: \t", df.shape)
print("Число пустых записей в State: \t", df["State"].isna().sum())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Загрузили данные: 	 (2906327, 8)
Число пустых записей в State: 	 1450990

### Задача 2
*(2 балла)*

Заполните пустые данные в базе словом "No". Запишите результат в ту же переменную. Выведите ее на экран.

**Решение:**

In [23]:
#df["State"]=df["State"].fillna("No")
df=df.fillna("No")

df.sample(15)

                Region      Country           State  ... Day  Year  AvgTemperature
1135450  North America       Canada              No  ...   9  2009            64.3
2660767  North America           US           Texas  ...  18  2000            75.7
1146519  North America       Canada              No  ...  22  2000            34.7
481068            Asia  Philippines              No  ...  30  2002            81.6
1568185  North America           US      California  ...  22  2015            47.4
2620501  North America           US       Tennessee  ...  22  2017            68.6
255371            Asia   Bangladesh              No  ...  24  2006            83.7
1942680  North America           US          Kansas  ...   7  2019            76.0
2569979  North America           US  South Carolina  ...  24  2005            57.0
1034346    Middle East       Kuwait              No  ...  24  2010            61.6
2562530  North America           US  South Carolina  ...  14  2010            51.2
1493072  North America           US          Alaska  ...   1  2008            39.6
1199973  North America       Canada              No  ...   6  2002            66.8
1842367  North America           US        Illinois  ...  14  1998            70.8
1966798  North America           US        Kentucky  ...  13  2009            76.3

[15 rows x 8 columns]

### Задание 3
*(2 балла)*


При помощи метода Pandas определите число уникальных записей в столбцах Country, City, Year.

**Решение:**

In [27]:
print("Количество уникальных в Country:\t", df["Country"].nunique())
print("Количество уникальных в City:\t", df["City"].nunique())
print("Количество уникальных в Year:\t", df["Year"].nunique())

Количество уникальных в Country:	 125
Количество уникальных в City:	 321
Количество уникальных в Year:	 28

### Задача 4
*(2 балла)*

При помощи библиотеки Pandas выведите строки, где в столбце Country встречается страна Russia.

При помощи метода Pandas отдельно выведите число элементов в этой выборке.

**Решение:**

In [36]:
df_ru=df[(df.Country == "Russia")]
print(df_ru.sample(20))
print("\nЧисло элементов в выборке:\t", len(df_ru))

        Region Country State     City  Month  Day  Year  AvgTemperature
879264  Europe  Russia    No   Moscow     10    5  1997            43.6
887268  Europe  Russia    No   Moscow      9    3  2019            66.1
884731  Europe  Russia    No   Moscow      9   23  2012            53.1
883904  Europe  Russia    No   Moscow      6   19  2010            62.0
882730  Europe  Russia    No   Moscow      4    2  2007            42.2
887364  Europe  Russia    No   Moscow     12    8  2019            33.9
880121  Europe  Russia    No   Moscow      2    9  2000            33.9
884801  Europe  Russia    No   Moscow     12    2  2012            29.1
883797  Europe  Russia    No   Moscow      3    4  2010            28.2
879164  Europe  Russia    No   Moscow      6   27  1997            67.4
879868  Europe  Russia    No   Moscow      6    1  1999            47.1
889139  Europe  Russia    No  Yerevan      6    6  1999            71.0
881875  Europe  Russia    No   Moscow     11   28  2004            13.4
887836  Europe  Russia    No  Yerevan     11   11  1995            38.8
886742  Europe  Russia    No   Moscow      3   26  2018            35.8
884251  Europe  Russia    No   Moscow      6    1  2011            70.0
880160  Europe  Russia    No   Moscow      3   19  2000            31.8
886072  Europe  Russia    No   Moscow      5   25  2016            61.9
887701  Europe  Russia    No  Yerevan      6   29  1995            76.6
889076  Europe  Russia    No  Yerevan      4    4  1999            52.4

Число элементов в выборке:	 12492

### Задача 5
*(2 балла)*

Создайте новый столбец температур, в котором будут записаны те же значения AvgTemperature, но в градусах Цельсия (исходная единица измерения - градусы Фаренгейта).

**Решение:**

In [66]:
df["Temperature"] = round((df.AvgTemperature-32)/1.8, 2)
#print(df.AvgTemperature[(df.AvgTemperature < -45)].unique())
df.sample(20)

                                    Region  ... Temperature
1690504                      North America  ...       21.61
12114                               Africa  ...      -72.78
1930394                      North America  ...        8.78
57078                               Africa  ...       15.00
970424                              Europe  ...        5.94
1558609                      North America  ...        3.50
1493160                      North America  ...      -12.17
82787                               Africa  ...       28.67
367717                                Asia  ...        9.50
782467                              Europe  ...        0.06
624221                              Europe  ...      -72.78
1880917                      North America  ...       16.94
1696543                      North America  ...       27.94
2087455                      North America  ...       20.22
1064804                        Middle East  ...       19.00
277442                                Asia  ...       31.78
1341960  South/Central America & Carribean  ...       25.61
1484197                      North America  ...       13.72
1010257                        Middle East  ...       31.94
2811606                      North America  ...        3.44

[20 rows x 9 columns]